{% extends 'base.html' %}

{% block content %}
        <div class="container" style="padding: 30px">
            <h2> Beverages</h2>
            <div class="row" style="padding: 25px">
                {% for drink in drinks %}
                    <div class="col-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ drink.name }}</h2>
                            <p class="card-text"><strong>Price  </strong> {{ drink.price }}</p>
                            <p class="card-text"> <strong>Size  </strong> <i>{{ drink.size }}</i></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}